<h1>Bienvenido</h1>

<div class="jumbotron">
  <p>Registra usuarios con sus respectivos agarres para compartirlo por la web :) </p>
  <p>
    <a class="btn btn-primary btn-lg" href="/crearUsuario" role="button">Registrar Usuario</a>
    <a class="btn btn-primary btn-lg" href="/listarUsuarios" role="button">Listar Usuarios</a>
  </p>
</div>
